body {
    text-align: center;
    width: 1000px;
    margin: auto;
}

#reset {
	height: 40px;
	width: 200px;
	font-weight: bold;
	color: white;
	background-color: green;
	border-radius: 3px;
	border: 1px solid #333333;
	cursor: pointer;
}

#instructions {
	height: 525px;
	width: 405px;
	border-radius: 3px;
	border: 1px solid green;
	float: left;
}

#charSelect {
	height: 606px;
	width: 507px;
	float: right;
}

.avatarImg {
	height: 105px;
	width: 63px;
}

.canvas {
	border: 1px solid black;
	float: right;
}